---
layout: default
bodyClass: "page-services"
---

<div class="intro">
	<div class="container">
		<div class="row justify-content-start">
			<h1 class="title">{{page.title}}</h1>
			<div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
				{{ content }}
			</div>
			{% if page.intro_image %}
			<div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
				<img alt={{ page.title }} class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" width="550" src="{{ page.intro_image | relative_url }}" />
			</div>
			{% endif %}
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		{% for service in site.services %}
		<div class="col-12 col-md-6">
			<table border="0" cellpadding="1">
				<tr>
					<td width="42px"><img alt="{{ service.title }} logo" src="{{ service.imageurl | relative_url }}" width="40" height="40" /></td>
					<td><div><a style="font-size: 32px;" href="{{ service.url | relative_url }}">{{ service.title }}</a></div></td>
				</tr>
				<tr>
					<td colspan="2">{{ service.description }}</td>
				</tr>
			</table>
		</div>
		{% endfor %}
	</div>
</div>
